#aggregateCardsHere table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 10px;
}

#aggregateCardsHere th {
    background-color: #333;
    color: white;
    text-align: left;
}

#aggregateCardsHere td {
    border: 1px solid white;
    padding: 10px;
    color: white;
}

#aggregateCardsHere table tr:nth-child(even) {
    background-color: #444;
}

#aggregateCardsHere tr:hover {
    background-color: #555;
}

#aggregateCardsHere th, #aggregateCardsHere td {
    transition: background-color 0.3s;
}
