.smol{
    font-size: 12px;
    display: inline;
}

#aggregateCardsHere table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 10px;
    table-layout: fixed;
}

#aggregateCardsHere th {
    background-color: #111;
    color: white;
    text-align: left;
}

#aggregateCardsHere td,
#aggregateCardsHere th {
    border: 1px solid white;
    padding: 10px;
    color: white;
    white-space: nowrap;
    overflow: hidden;
}

#aggregateCardsHere table tr:nth-child(even) {
    background-color: #222;
}

#aggregateCardsHere tr:hover {
    background-color: #111;
}

#aggregateCardsHere th, #aggregateCardsHere td {
    transition: background-color 0.3s;
}
