#devSwitch {
    display: none;
}

#devSwitch + label {
    cursor: pointer;
    padding: 10px 20px;
    background-color: #ccc;
    color: white;
    border-radius: 5px;
    position: relative;
    font-size: 16px;
}

#devSwitch:checked + label {
    background-color: #4CAF50;
}

#devSwitch:checked + label::before {
    content: '✔';
    position: absolute;
    left: 10px;
    color: white;
}
