html, body {
    background-color: #121212;
    color: white;
    font-family: Arial, sans-serif;
    margin: 0;
    height: 100%;
    display: flex;
    flex-direction: column;
    min-height: 100%;
}

a {
    color: white;
    text-decoration: underline;
}

p {
    margin-bottom: 10px;
}

.distance {
    margin: 1rem;
}

.tab {
    overflow: hidden;
    border: 1px solid #222;
    color: #FFF
}

.tab button {
    background-color: inherit;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
    color: #FFF;
    font-size: 16px;
}

.tab button:hover {
    background-color: #333;
    color: #FFF
}

.tab button.active {
    background-color: #333;
    color: #FFF
}

.tabcontent {
    display: none;
    padding: 6px 12px;
    border: 1px solid #333;
    border-top: none;
}

.input-row {
    display: flex;
    align-items: center;
    gap: 10px;
}

.input-row p {
    margin: 0;
    padding: 0 5px;
}

.input-row input {
    font-family: monospace;
    width: 70px;
}

#gooberIframe {
    flex: 1;
    border: none;
    margin-left: 1rem;
    width: 100%;
    height: 100%;
}

#saveInput {
    display: flex;
    gap: 1rem;
    flex-direction: row;
    align-items: center;
}

.custom-upload-btn {
    background-color: #333;
    color: #fff;
    padding: 15px 30px;
    border-radius: 5px;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    border: 2px solid #555;
    transition: background-color 0.3s, transform 0.3s;
    margin-bottom: 10px;
}

.custom-upload-btn:hover {
    background-color: #444;
    transform: scale(1.05);
}

#fileStatus {
    color: #999;
    font-size: 14px;
    margin-top: 10px;
}

.custom-upload-btn span {
    display: inline-block;
    margin-right: 10px;
}

.custom-upload-btn:active {
    transform: scale(0.98);
}

.aLittleBitUp{
    transform: translateY(-0.35rem);
}

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
}

.modal-header{
    line-height: 0;
}

.modal-content {
    background-color: #000;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    max-width: 50%;
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
    transform: translateY(-1rem);
}

.close:hover,
.close:focus {
    color: "white";
    text-decoration: none;
    cursor: pointer;
}

input[type="text"] {
    background-color: #222;
    color: #fff;
    border: 1px solid #444;
    border-radius: 5px;
    padding: 10px;
    width: 100%;
    box-shadow: inset 0 0 5px rgba(255, 255, 255, 0.1);
    transition: border-color 0.3s, box-shadow 0.3s;
    width: 20rem;
}

input[type="text"]:focus {
    border-color: #666;
    outline: none;
    box-shadow: 0 0 5px rgba(102, 102, 102, 0.5);
}

label {
    font-size: 16px;
    margin-right: 10px;
    color: #fff;
    width: 100px;
    text-align: right;
}

.modal-body div {
    margin-bottom: 15px;
}
