html, body {
    background-color: #121212;
    color: white;
    font-family: Arial, sans-serif;
    margin: 0;
    height: 100%;
    display: flex;
    flex-direction: column;
    min-height: 100%;
}

a {
    color: white;
    text-decoration: underline;
}

p {
    margin-bottom: 10px;
}

.distance {
    margin: 1rem;
}

.tab {
    overflow: hidden;
    border: 1px solid #222;
    color: #FFF
}

.tab button {
    background-color: inherit;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
    color: #FFF
}

.tab button:hover {
    background-color: #333;
    color: #FFF
}

.tab button.active {
    background-color: #333;
    color: #FFF
}

.tabcontent {
    display: none;
    padding: 6px 12px;
    border: 1px solid #333;
    border-top: none;
}

.input-row {
    display: flex;
    align-items: center;
    gap: 10px;
}

.input-row p {
    margin: 0;
    padding: 0 5px;
}

.input-row input {
    font-family: monospace;
    width: 70px;
}

#gooberIframe {
    flex: 1;
    border: none;
    margin-left: 1rem;
    width: 100%;
    height: 100%;
}

#saveInput {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.custom-upload-btn {
  background-color: #333;
  color: #fff;
  padding: 15px 30px;
  border-radius: 5px;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
  border: 2px solid #555;
  transition: background-color 0.3s, transform 0.3s;
  margin-bottom: 10px;
}

.custom-upload-btn:hover {
  background-color: #444;
  transform: scale(1.05);
}

#fileStatus {
  color: #999;
  font-size: 14px;
  margin-top: 10px;
}

.custom-upload-btn span {
  display: inline-block;
  margin-right: 10px;
}

.custom-upload-btn:active {
  transform: scale(0.98);
}
